## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [3]:
ciudades = ["1_Bagdad","2_NewY","3_CDMX","4_SALTILLO","5_PUEBLA","Bogota","los angeles"]
print(ciudades)

['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles']

2) Imprimir por pantalla el segundo elemento de la lista

In [4]:
print(ciudades[1])

2_NewY

3) Imprimir por pantalla del segundo al cuarto elemento

In [5]:
print(ciudades[1:4])

['2_NewY', '3_CDMX', '4_SALTILLO']

4) Visualizar el tipo de dato de la lista

In [6]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [7]:
print(ciudades[2:] ,"esta es la respuesta las siguientes no")
print(ciudades[2:4],ciudades[0:2])
print(ciudades[:5])

['3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles'] esta es la respuesta las siguientes no
['3_CDMX', '4_SALTILLO'] ['1_Bagdad', '2_NewY']
['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA']

6) Visualizar los primeros 4 elementos de la lista

In [8]:
print(ciudades[:4])

['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [9]:
ciudades.append("3_CDMX")
ciudades.append("Dubai")
print(ciudades)
print("NO DA HERROR POR DUPLICAR ELEMENTOS")

['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai']
NO DA HERROR POR DUPLICAR ELEMENTOS

8) Agregar otra ciudad, pero en la cuarta posición

In [10]:
ciudades.insert(3,"PERRROOOOOLANDIAAAAA")

print(ciudades)

['1_Bagdad', '2_NewY', '3_CDMX', 'PERRROOOOOLANDIAAAAA', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai']

9) Concatenar otra lista a la ya creada

In [11]:
ciudades_locas=["rotandia","superperrolandia","locochona123"]
ciudades = ciudades + ciudades_locas
print(ciudades)

['1_Bagdad', '2_NewY', '3_CDMX', 'PERRROOOOOLANDIAAAAA', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', 'locochona123']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [12]:
indice = ciudades.index("3_CDMX")
indice_2 = ciudades.index("Bogota")
print("El indice de la ciudad repetida en el punto 7 es: ", indice)
print(indice_2)
#solo menciona la primera ves que aparece

El indice de la ciudad repetida en el punto 7 es:  2
6

11) ¿Qué pasa si se busca un elemento que no existe?

In [13]:
#marcara error
print(ciudades.index('Paris'))

ValueError: 'Paris' is not in list

12) Eliminar un elemento de la lista

In [14]:
ciudades.remove("PERRROOOOOLANDIAAAAA")
print(ciudades)

['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', 'locochona123']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [15]:
#marcara error
ciudades.remove("Paris")
print("ciudades")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [16]:
el_ultimo = ciudades.pop()
print(el_ultimo)

locochona123

15) Mostrar la lista multiplicada por 4

In [17]:
print(ciudades*4)

['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', '1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', '1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', '1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [18]:
la_tupla = (1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,18,19,20)
print(type(la_tupla), la_tupla)
#para la otra crearla sin escribirlos usar un bucle

<class 'tuple'> (1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [19]:
print(la_tupla[9:15])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [20]:
print(la_tupla.index(20))
print(20 in la_tupla)
print(30 in la_tupla)
#print(la_tupla.index(30))

17
True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [22]:
kk = "Paris"
if 'kk' in ciudades:
    print("Paris esta en la lista ciudades")
else: 
    ciudades.append(kk)
    print("hemos gregado Paris usando la variable  kk")
print(ciudades)

hemos gregado Paris usando la variable  kk
['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', 'Paris', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [23]:
# Contar cuántas veces aparece la ciudad "Paris"
ciudades_contar = ciudades.count("Paris")
print("Paris aparece", ciudades_contar, "veces en la lista.")

# Contar cuántas veces aparece el número 2 en la tupla
ocurrencias = la_tupla.count(2)
print("El número 2 aparece", ocurrencias, "veces en la tupla.")

Paris aparece 2 veces en la lista.
El número 2 aparece 1 veces en la tupla.

21) Convertir la tupla en una lista

In [24]:
a_lista = list(la_tupla)
print(la_tupla)
print(a_lista)

(1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20)
[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [25]:
a, b, c,*resto = la_tupla
print("a:" , a , "b:" , b, "c:",c)

a: 1 b: 2 c: 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [26]:
claves = ["ciudad", "pais", "Continente", "ciudad_2","ciudad:3","ciudad_4"]
diccionario = dict(zip(claves,ciudades))
diccionario2 = {"ciudad":ciudades, "Pais": ['Mexico',"Andorra","Brasil"], "Continente":["america","Europa"]}
print(diccionario)
print(diccionario2)

{'ciudad': '1_Bagdad', 'pais': '2_NewY', 'Continente': '3_CDMX', 'ciudad_2': '4_SALTILLO', 'ciudad:3': '5_PUEBLA', 'ciudad_4': 'Bogota'}
{'ciudad': ['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', 'Paris', 'Paris'], 'Pais': ['Mexico', 'Andorra', 'Brasil'], 'Continente': ['america', 'Europa']}

24) Imprimir las claves del diccionario

In [27]:
for clave in diccionario.keys():
    print(clave)
clave2 = list(diccionario.keys())
print(clave2)

ciudad
pais
Continente
ciudad_2
ciudad:3
ciudad_4
['ciudad', 'pais', 'Continente', 'ciudad_2', 'ciudad:3', 'ciudad_4']

25) Imprimir las ciudades a través de su clave

In [28]:
print(diccionario2["ciudad"])

['1_Bagdad', '2_NewY', '3_CDMX', '4_SALTILLO', '5_PUEBLA', 'Bogota', 'los angeles', '3_CDMX', 'Dubai', 'rotandia', 'superperrolandia', 'Paris', 'Paris']