## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num=3
print(num)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
num2=8.5
print(type(num2))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre="Alain"

5) Crear una variable que contenga un número complejo

In [5]:
num3=4+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(num3)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
a='True'
b=True
a==b

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(a))
print(type(b))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:


sumando = 3 + 4.5

11) Realizar una operación de suma de números complejos

In [14]:
a=1+3j
b=2+5j
c=a+b
print(c)

(3+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
3+2+2j

(5+2j)

13) Realizar una operación de multiplicación

In [16]:
3*2

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
a=27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [32]:
let1 = "h"+"o"
let2 = "l"+"a"
let3 = let1 + let2
print(let3)

hola

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [35]:
eval=2=="2"
print(eval)
print("es falso por que una es una variable tipo entero y el otro es una variable tipo cadena o string")

False
es falso por que una es una variable tipo entero y el otro es una variable tipo cadena o string

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [39]:
a= 2
b = "2"
b =int(b)
print(type(b))
eval = a==b
print(eval)

<class 'int'>
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [44]:
a = float('3.8')
print(type(a))
print('daba error por que estamos trabajando con "." y no con "," para separar numeros')

<class 'float'>
daba error por que estamos trabajando con "." y no con "," para separar numeros

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [48]:
a = 3
a -= 1
print(a)
a = -3
a -= 1
print(a)

2
-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [50]:
a = 1 << 2
print(a)
print('Da cuantro por que desplaso el 1 dos posiciones a la izq en binarios')
print('el sistema bienra consta de representar solo con 2 digitos normalmente 0 y 1')

4
Da cuantro por que desplaso el 1 dos posiciones a la izq en binarios
el sistema bienra consta de representar solo con 2 digitos normalmente 0 y 1

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [61]:
print('no esta permitido por que sos dierente tipo de operadores')
print('depende, si son el mismo operador y de algún tipo similar siempre daria el mismo resultado')
print('para el mismo tipo de operador pero diferente entre diferentes operadores como vemos a continuación:')
a = float(2) + float('2')
b = int(2) + int('2')
c = str(2) + str('2')
print(a,b,c)

no esta permitido por que sos dierente tipo de operadores
depende, si son el mismo operador y de algún tipo similar siempre daria el mismo resultado
para el mismo tipo de operador pero diferente entre diferentes operadores como vemos a continuación:
4.0 4 22

26) Realizar una operación válida entre valores de tipo entero y string

In [58]:
a = int(2)
b = float('2')
c= a + b 
print(c)
print("solo es posible si los convertimos a tipos similares o los trabajamos todos como string y para repetir")
var1 = 'este texto se repite,, '
var2 = 3
print(var1 * var2)
print(var1 * var2 + str(var2) + ' veces')

4.0
solo es posible si los convertimos a tipos similares
este texto se repite,, este texto se repite,, este texto se repite,,
este texto se repite,, este texto se repite,, este texto se repite,, 3 veces